*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 10px rgb(196, 192, 192);
    position: fixed;
    background-color: white;
    z-index: 5;
}

.main-header{
    width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header>div{
    display: flex;
    align-items: center;

}

.heading-title{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #176B87;
    font-weight: bold;
}

.heading-content{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 18px;
    gap: 30px;
    /* text-decoration: none; */
}
.heading-content>a{
    text-decoration: none;
    color: #176B87;
}
.heading-content>a:hover{
    text-decoration: underline;
}

#content{
    width: 1400px;
    margin: 0 auto;
    /* border: solid; */
    padding-top: 120px;
}

.physics{
    font-size: 80px;
    color: #001C30;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.about-physics{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 50%;
    text-align: justify;
}

.physics-topics{
    display: grid;
    grid-template-columns: 1;
    gap: 4px;
}
.chapter-block{
    display: flex;
    align-items: center;
    background-color: #8fd1cd31;
    border: 2px solid #64ccc5;
    border-radius: 4px;
    width: 50%;
}
.chapter-block>a{
    /* display: block; */
    text-decoration:none;
    padding: 4px 16px;
    font-size: 22px;
    /* font-weight: bold; */
    color: #001C30;
    font-family: 'Poppins', sans-serif;

}